.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  color: black;
}

.navbar .logo {
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar .nav-links {
  display: flex;
  gap: 25px;
}

.navbar .nav-links a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar .nav-links a:hover {
  color: #00a7ff;
}