<app-navbar></app-navbar>
<div class="wrapper">
    <div class="sobre-container">
        <h1>Aveiro & Kondo</h1>

        <p>
            <strong><code>Hello World!</code></strong>
            <br>
            Somos a Aveiro & Kondo, uma dupla apaixonada por tecnologia, inovação e, claro, ciclismo. Fazemos parte do projeto Velo, um aplicativo desenvolvido para transformar a experiência de quem vive sobre duas rodas.
            <br><br>
            O Velo não é apenas um app, é uma extensão da sua jornada. Criamos uma plataforma intuitiva, segura e pensada para ciclistas que buscam mais do que apenas um trajeto — buscamos oferecer praticidade, conexão e liberdade.
            <br><br>
            <img src="/Icon.svg"/>
            <br>
            <small>Logo compactada do nosso app.</small>
            <br><br>
            Nosso compromisso é desenvolver soluções inteligentes, combinando tecnologia, design e performance, assim como uma boa bike: leve, eficiente e feita sob medida.
        </p>
        <br><br>
    </div>
</div>
<app-rodape></app-rodape>