<app-navbar></app-navbar>

<div class="wrapper">
  <div class="dashboard-container">
    <h1>Dashboard</h1>
    <h2>Olá, João Pedro!</h2>
    <p>Tivemos 3 usuários ativos nas últimas 24h.</p>
    <br>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Andrey Nardy</td>
          <td>andnardy&#64;velo.com.br</td>
          <td>
            <button class="btn ver">Ver</button>
            <button class="btn editar">Editar</button>
            <button class="btn deletar">Deletar</button>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Matheus Coletti</td>
          <td>matcoletti&#64;velo.com.br</td>
          <td>
            <button class="btn ver">Ver</button>
            <button class="btn editar">Editar</button>
            <button class="btn deletar">Deletar</button>
          </td>
        </tr>
            <tr>
            <td>3</td>
            <td>Gabriel Araújo</td>
            <td>gabrielaraujo&#64;velo.com.br</td>
            <td>
                <button class="btn ver">Ver</button>
                <button class="btn editar">Editar</button>
                <button class="btn deletar">Deletar</button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-rodape></app-rodape>
