.wrapper {
  margin: 5vh 0 0 0;
  display: flex;
  justify-content: center;
}

.dashboard-container {
  width: 80%;
  line-height: 1.5;

  h1 {
    text-align: start;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-decoration: underline;
    color: #40ff79;
    text-shadow:
      -0.5px -0.5px 0 black,
      0.5px -0.5px 0 black,
      -0.5px 0.5px 0 black,
      0.5px 0.5px 0 black;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f7f7f7;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

    th {
      background-color: #00a7ff;
      color: white;
      padding: 1rem;
      text-align: left;
    }

    td {
      padding: 0.8rem 1rem;
      border-bottom: 1px solid #ddd;
    }

    tr:hover {
      background-color: #e9faff;
    }
  }

  .btn {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    transition: 0.3s ease;
  }

  .ver {
    background-color: #40ff79;

    &:hover {
      background-color: #00a7ff;
    }
  }

  .editar {
    background-color: #00a7ff;

    &:hover {
      background-color: #40ff79;
      color: #00a7ff;
    }
  }

  .deletar {
    background-color: crimson;

    &:hover {
      background-color: #7c0000;
    }
  }
}
