<app-navbar></app-navbar>
<div class="wrapper">
    <div class="contato-container">
        <h1>Contato</h1>
        <p>
            <strong><code>usuario&#64;aveiroekondo:/$ help</code></strong>
            <br>
            Caso tiver alguma dúvida, feedback, sugestão, bug report ou o que seja,
            pode entrar em contato via e-mail sem nenhum problema:
            <br><br>
            <strong>
                - jpaveiro&#64;velo.com.br ~ João Pedro Aveiro
                <br>
                - yaskondo&#64;velo.com.br ~ Yasmim Kondo
            </strong>
            <br><br>
            <strong>Formatação de e-mail sugerido</strong>
            <br>
            Assunto: Dúvida/Feedback/Bug Report/Sugestão
            <br>
            Corpo: Breve descrição, Desenvolvimento
            <br><br>
            <strong>OBS:</strong> O tempo médio para obter uma resposta é cerca de 24h.
            <br><br>
        </p>
    </div>
</div>
<app-rodape></app-rodape>
